# Visual Studio 2015 cache/options directory
.vs/

RealtimeTester/obj/project.assets.json
RealtimeTester/obj/*
packages/*

# .NET Specific Folders #
#########################
[Oo]bj
[Oo]bj/*
[Bb]in
[Bb]in/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.Resharper.user
*.resharper
*.suo
*.cache
~$*
*.licx
*/obj
RealtimeTester/bin/*
RealtimeTester/obj/*
packages/
obj/
RealtimeTester/obj


